{% extends "layout.html" %}
{% from 'macros.html' import render_games_in_item, render_field %}
  
{% block body %}
<p>{{ error }}</p>
<form method="POST" action="{{ url_for('item_edit', item_id = item.id) }}">

    {{ render_field(form.name) }}
    {{ render_field(form.price) }}
    {{ render_field(form.description) }}

  <td colspan="2">
    <input type="submit" value="Päivitä"/>
  </td> 
</form>

<form method="POST" action="{{ url_for('item_check_edit', item_id = item.id) }}">
<td colspan="2">
    <input type="submit" value="Valmis"/>
</td>
</form>

{{ render_games_in_item(item) }}

{% endblock %}