{% extends 'layout.html' %}
{% from 'macros.html' import render_game_link %}

{% block body %}
  <p>
    Kohteita myynnissä: {{items_total}}
  </p>
  <p>
    Jos olet kiinnostunut jostain kohteesta, ota yhteyttä myyjään sähköpostitse!
  </p>

{% for item in items %}

<div class="itemListing">
  <div class = "itemEntry">Kohteen nimi: {{ item.name }}</div>
  <div class = "itemEntry">Hinta: {{ item.price}}</div>
  <div class = "itemEntry">Myyjä: {{ item.user.username }}</div>
  <div class = "itemEntry">Sijainti: {{ item.user.location }}</div>
  <div class = "itemEntry">Sähköposti: {{ item.user.email}}</div>
  <div class = "itemEntry">Kuvaus: {{ item.description}}</div>
  <div class = "itemEntry gameEntry">Kohteen pelit:</div>
  {% for game in item.games %}
      <li>{{ render_game_link(game) }}</li>
  {% endfor %}
</div>

{% endfor %}
{% endblock %}