{% extends "layout.html" %}
{% from 'macros.html' import render_field %}

{% block body %}
<form method="POST" action="{{ url_for('items_create') }}">

      {{ render_field(form.name) }}
      {{ render_field(form.price) }}
      {{ render_field(form.description) }}

      <p>Lisää kohteeseen myös yksi peli. Voit lisätä lisää pelejä seuraavalla sivulla</p>

      {{ render_field(form.gameName)}}

    <td colspan="2">
      <input type="submit" value="Luo kohde"/>
    </td>
    
</form>
{% endblock %}