.nav-item  {
    margin: 10px;
}

.navtext {
    color: lightgray;
}

.itemListing {
    border: 2px solid #333232;
    background-color: #f0eeee;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0;
    width: 60%;
  }

  .gameEntry {
      padding: 5px;
  }

  .subTitle {
      font-size: 18px;
  }

  .myPageButtons form {
    float: center;
  }

  .gameTable td {
    padding: 0 15px 0 1px;
  }

  .didyouknow {
    font-size: 15px;
  }

  
  
  